/* {
    border: 1px solid red;
} */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}
/* Header */
header { 
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.hero-image {
    width: 100%;
    height: 70vh;
    background-image: url('../photos/accueil.JPG');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-content {
    max-height: 15vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
}

.hero-text {
    width: 50%;
    padding: 2rem;
    text-align: center;
    color: #2F2D33;
}

.hero-quote {
    width: 100%;
    padding: 2rem;
    text-align: center;
    border-left: 3px solid #a33838;
}

/* About */
#about {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.about-title {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.about-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 0;
    border: 2px solid #a33838
}

.about-content span {
    font-size: 2.5rem;
    font-weight: 600;
    color: #01687D;
}

.about-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.about-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#about .cta-button1 {
    margin: 3rem auto;
}

/* Mission */
#mission {
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#mission img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.mission-content {
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
    padding: 2rem 0;
    margin: auto 0;
}

.mission-text {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50%;
    height: auto;
    padding: 5rem;
    text-align: left;
    background-color: #01687D;
    color: #f2f2f2;
    z-index: 2;
    display: flex; 
    flex-direction: column;
}

.mission-text h2, .mission-text p {
    color: #f2f2f2;
}

.mission-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60%;
    padding: 0;
    text-align: center;
}

#mission .cta-button3 {
    margin: 3rem auto;
    width: 50%;
}

/* Vision */
#vision {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.vision-title {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.valeur-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.valeur-item {
    position: relative;
    width: 25%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}

.valeur-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
}

.valeur-content h3 {
    opacity: 1;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    color: #f2f2f2;
}

.valeur-content p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 0 1rem;
    color: #f2f2f2;
}

.valeur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.valeur-item img {
    filter: brightness(0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.valeur-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.valeur-item:hover .valeur-content p {
    opacity: 1;
}

.valeur-item:hover .valeur-content h3 {
    color: #f2f2f2;
}

.valeur-item:hover .valeur-overlay {
    opacity: 1;
}

.valeur-item:hover img {
    filter: brightness(0.8);
    transition: filter 0.3s ease-in-out;
}

#vision .cta-button2 {
    margin: 3rem auto;
}

/* Innovations */
#innovations {
    min-height: 50vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.innovations-content {
    width: 40%;
}

.innovation-item {
    background: rgba(0,0,0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.innovation-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.innovation-item h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #f2f2f2;
    font-size: 2rem;
    text-align: center;
}



/* Nouvelles */
#nouvelles {
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.nouvelles-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.nouvelles-item {
    background-color: hsl(0, 49%, 43%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 600px;
    padding: 2rem;
    text-align: left;
    border-radius: 20px;
}

.nouvelles-item p, .nouvelles-item h3 {
    color: #f2f2f2;
}

.nouvelles-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    padding: 1rem;
}

.nouvelles-button {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f2f2f2;
    color: #a33838;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

.nouvelles-button a {
    color: #a33838;
    text-decoration: none;
}