/* {
    border: red solid 1px;
} */

section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2rem;
}

h2 {
    padding: 0.5rem;
}

.red {
    color: #a33838;
}

/* Innovations Section */
.innovations-image-container {
    inset: 0;
    overflow: hidden;
    display: flex; 
    width: 100%;
    height: 70vh;
    margin-bottom: 2rem;
    background: #89AEB5;
}

.swiper {
    width: 80%;
    height: auto;
    position: relative;
}

.swiper-slide, .swiper-wrapper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    display: grid;
    place-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    --size:48px;
    width: var(--size);
    height: var(--size);
    color: #f2f2f2;
    filter: drop-shadow(0 2px 6px rgba(0,0,0,0.35));
    z-index: 50;
}


.innovations-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 2rem;
}

.innovation-item {
    background-color: #f2f2f2;
    padding: 3rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.innovation-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.innovation-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.innovations-wrapper .fa-solid, .innovations-wrapper .fa-brands {
    font-size: 4rem;
    color: #01687D;
}

/* Partenariats Section */
.partenariats-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 2rem;
}

.partenariat-item {
    background-color: #f2f2f2;
    padding: 1rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partenariat-item img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1024px) {
    section {
        width: 90%;
    }

    .innovations-image-container {
        height: 70vh;
        width: 100%;
    }

    .swiper {
        width: 100%;
        height: auto;
        margin: auto 0;
    }

    .innovations-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .innovation-item {
        width: 80%;
    }

    .partenariats-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .partenariat-item {
        width: 80%;
    }
}

@media (max-width: 768px) {
    section {
        width: 95%;
        padding: 1rem;
    }

    .innovations-image-container {
        height: 50vh;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    .innovation-item {
        padding: 2rem;
    }

    .innovation-top {
        flex-direction: column;
        gap: 0.5rem;
    }

    .innovations-wrapper .fa-solid, .innovations-wrapper .fa-brands {
        font-size: 3rem;
    }

    .partenariat-item {
        width: 100%;
    }
}