/* {
    border: red solid 1px;
} */

section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2rem;
}

h2 {
    padding: 0.5rem;
}

.red {
    color: #a33838;
}

/* Approche Section */
#approche {
    min-height: 85vh;
}
.approche-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.approche-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border: 2px solid #a33838;
}

.approche-item .fa-solid {
    font-size: 3rem;
    padding: 3rem;
    color: #a33838;
    background-color: #f2f2f2;
    border-radius: 50%;
}

/* Niveaux Section */
.niveaux-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem 0;
}

.niveaux-item1, .niveaux-item2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
}

.niveaux-item1 {
    background-color: #f2f2f2;
    border: 2px solid #a33838;
    flex-direction: row;
}
.niveaux-item2 {
    background-color: #cccccc;
    border: 2px solid #a33838;
    flex-direction: row-reverse;
}
.niveaux-item1 img, .niveaux-item2 img {
    width: 50%;
    height: auto;
}

.niveaux-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.cta-button1 {
    margin: 3rem auto;
}